.ExtendPlan {
    background-color: bisque;
    text-align: center;
}

#title {
    text-align: right;
    padding-top: 3px;
}

.col-lg-7 .mb-0:hover {
    cursor: not-allowed;
}

.col-4 a {
    text-decoration: none;
    color: black;
}

#btn-extend button:hover {
    background-color: aliceblue;
}

.col-4 {
    border: none;
}