.ExtendPlan {
    /* background-color: bisque; */
    background-color: #3e8ac7;
    text-align: center;
}

#title {
    text-align: right;
    padding-top: 3px;
}

.col-lg-7 .mb-0:hover {
    cursor: not-allowed;
}

.col-4 a {
    text-decoration: none;
    color: black;
}

#btn-extend button:hover {
    background-color: aliceblue;
}

.col-4 {
    border: none;
}

#btn-ext a {
    color: white;
}

#btn-ext a:hover {
    color: black;
}