.LoginPage {
    text-align: center;
    padding-bottom: 300px;
    background-color: cadetblue;
}

.google-btn {
    height: 300px;
    padding-top: 80px;
    /* border: 10px solid red; */
}