.Main {
    /* background-color: #eae7dc; */
    background-color: rgba(158, 191, 205, 255);
    padding-bottom: 50px;
}

.Main .container {
    padding-top: 0;
}

#aristera {
    padding-top: 5px;
    border: 2px solid black;
    padding-bottom: 5px;
}

.col-9 {
    text-align: right;
}

.row p {
    text-align: left;
}

.dropdown {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.title-drop {
    margin-bottom: 0px;
    text-align: left;
    margin-left: 50px;
    padding-top: 20px;
    padding-bottom: 1px;
}

Button {
    margin-top: 20px;
}

.col-7,
.col-sm-4 {
    text-align: left;
    font-weight: bold;
}

.col-5,
#country,
#type {
    text-align: right;
    font-weight: bold;
}


/* grammi sto footer */

hr.solid {
    border-top: 1px solid rgb(0, 0, 0);
    margin-bottom: 0px;
}

.col-sm-3 {
    margin-top: 0px;
}


/* navbar */


/* .navbar-brand {
    text-decoration: none;
    color: rgb(42, 50, 165);
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(157, 205, 247);
} */

.nav-bar {
    padding-bottom: 0px;
}

.Navbar .col-10 {
    text-align: right;
    padding-top: 15px;
}