.Plans {
    background-color: skyblue;
    padding-bottom: 300px;
    text-align: center;
}

.Plans .title {
    padding-top: 20px;
}

.Plans .container {
    width: 60%;
    margin: auto;
    margin-top: 100px;
    font-size: large;
}

.Plans .row {
    padding-top: 30px;
}

.Plans img {
    height: 200px;
    padding-top: 50px;
}